h2 {
  font-size: 50px;
  color: black;
}

.post {
  color: brown;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about {
  color: purple;
  font-family: serif;
  font-style: italic;
}

.favorite {
  font-weight: bolder;
  color: green;
}

img {
  margin-left: 30%;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  body {
    background-color: salmon;
    color: green;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  h1 {
    font-size: 60px;
    font-family: monospace;

  }

}
